# Get number of selected sites

In [6]:
import pandas as pd

from consent.data.database.exper_result_database import ExperResultDatabase

record_date = '2022-05-29'

In [8]:
set_names = ['0k_20k', '20k_40k', '40k_60k', '60k_80k', '80k_100k'] # , '100k_150k']
data = []

for set_name in set_names:
    df = ExperResultDatabase(record_date, f'en_suc_{set_name}').query_to_df(projection={'site': 0, 'url': 0})
    data.append({'set_name': set_name, 'nsites': len(df)})
sites = pd.DataFrame(data)
print(f'Total: {sites.nsites.sum():,d}')
sites

Total: 52,370

   set_name  nsites
0    0k_20k   10970
1   20k_40k   10444
2   40k_60k   10588
3   60k_80k   10243
4  80k_100k   10125